@charset "UTF-8";
/* Typical Device Breakpoints
-----------------------------
Pequenas telas: hasta 600px
Celular: de 600px hasta 768px
Tablet:992px hasta 1200px
Grandes telas: Arriba de 1200px
*/

@media screen and (min-width: 768px){
    i#burguer {
        display:none;
    }

    menu{
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    } 

    main{
        width: 768px;
    }
}